<div class="container">
<section>
      <div class="row">
       <div class="col-md-4 col-sm-4 col-xs-12">
          <br />
          <br />
          <div class="text-center">
             <p> <img alt="Perq Soleil" src="modules/core/client/img/brand/logo.png" /></p>
          </div>
          <br />
           <div class="text-center">
                  <p><h3><em>Concierge services par excellence!</em></h3> </p>
                   <br />
                <p><a class="btn btn-primary btn-lg" ui-sref="bookings.create">Book now</a></p>
          </div>
        </div>
          
        <div class="jumbotron col-md-6 col-sm-6 col-xs-12">
              <p class="lead">At Perq Soleil, we provide excellent concierge services at all airports nationwide. </p>
					    <span class="hidden-xs">
									<p>Our authorised meet and greet agents will assist you every step of the way to eliminate the stress of modern day air travel. </p>
									<p> Whether you want to be met at the plane, fast-tracked through immigration, need help with your luggage or require a chauffeur driven limousine on arrival.... </p>
              </span>
              <p class="text-center">
      				   <em>Whatever it is....we'll make it happen!</em>
              </p>   
              
        </div>
       </div> 
   
<div class="footer"> 
  Copyright © 2016 Perq Soleil  All rights reserved.
</div>		

</section>
</div>