<section class="row">
<div class="col-xs-6 col-sm-6 col-md-offset-2 col-md-4" >
  <h3 class="col-xs-12 text-center">Or with your account</h3>
  <div class="col-xs-12">
    <form name="vm1.userForm" ng-submit="vm.signin(vm1.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="vm1.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" required>
          <div ng-messages="vm1.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Sign in</button>
         <!-- &nbsp; or&nbsp;
          <a ui-sref="authentication.signup">Sign up</a> -->
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Forgot your password?</a>
        </div>
        <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
          <span ng-bind="vm.error"></span>
        </uib-alert>
      </fieldset>
    </form>
  </div>
</div>

<!-- Divider -->

<div class="col-xs-6 col-sm-6 col-md-4" >
  <h3 class="col-xs-12 text-center">Sign up with us</h3>
  <div class="col-xs-12">
    <form name="vm2.userForm" ng-submit="vm.signup(vm2.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="First Name" required>
          <div ng-messages="vm2.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="vm2.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="vm2.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="2username">Username</label>
          <input type="text" id="2username" name="2username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="vm2.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="2password">Password</label>
            <input type="password" id="2password" name="2password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm2.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm2.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!vm2.userForm.password.$error.required">
          <label>Password Requirements</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Sign up</button>
         <!-- &nbsp; or&nbsp;
          <a ui-sref="authentication.signin" class="show-signup">Sign in</a> -->
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</div>
</section>


